<section id="contact">
<paper-card class="contact" heading="" >

   <div class="card-content">
            <img src="/images/profile.jpg" alt="Profile picture" />
            <div id="data"
           <p><span class="label label-default">{{birthday}}:</span> 1987-02-14</p>
           <p><span class="label label-default">{{address}}:</span> Krivių g. 35-11, Vilnius</p>
           <p><span class="label label-default">{{tel}}:</span> <a href="tel:+37067513869">+370 675 13869</a></p>
           <p><span class="label label-default">{{email}}:</span> <a href="mailto:domas.briedis@gmail.com">domas.briedis@gmail.com</a></p>
           <p><span class="label label-default">Skype:</span> <a href="skype:briediz-">briediz-</a></p>
           <div id="download"> <span class="label label-default">{{download}}:</span> <a href="/files/{{pdf}}" title="{{pdf}}" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></div>
           <paper-material elevation="1" class="social-links">
             <a href="https://lt.linkedin.com/in/domas-briedis-4a523637" title="LinkedIn" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
             <a href="https://www.facebook.com/domas.briedis" title="Facebook" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
             <a href="http://briediz.deviantart.com/" title="DeviantArt"target="_blank"><i class="fa fa-deviantart" aria-hidden="true"></i></a>
             <a href="https://github.com/DomasB" title="GitHub" target="_blank"><i class="fa fa-git" aria-hidden="true"></i></a>
           </paper-material>
        </div>
    </div>

</paper-card>
</section>
