<section id="education">
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong><i class="fa fa-graduation-cap" aria-hidden="true"></i> {{menuEdu}}</strong></div>
      <div class="panel-body">
        {{vu}}<br>
        2013 – {{now}}<br>
        {{chemistry}} {{master}}<br><br>
        {{vdu}}<br>
        2011-2012<br>
        {{pedagogics}}<br><br>
        {{vu}}<br>
        2006-2010<br>
        {{chemistry}} {{bachelour}}<br>
      </div>
    </div>
  </div>
</section>
