<paper-drawer-panel id="paperDrawerPanel" force-narrow>
  <paper-header-panel drawer>
    <paper-toolbar class="green">
      <iron-icon icon="icons:close" paper-drawer-toggle></iron-icon>
    </paper-toolbar>

      <a href="#work"><paper-icon-item paper-drawer-toggle><i class="fa fa-suitcase" item-icon ></i> {{menuWork}}</paper-icon-item></a>
      <a href="#education"><paper-icon-item paper-drawer-toggle><i class="fa fa-graduation-cap" item-icon></i> {{{menuEdu}}}</paper-icon-item></a>
      <a href="#languages"><paper-icon-item paper-drawer-toggle><i class="fa fa-language" item-icon></i> {{{menuLang}}}</paper-icon-item></a>
      <a href="#skills"><paper-icon-item paper-drawer-toggle><i class="fa fa-pencil-square-o" item-icon></i> {{menuSkills}}</paper-icon-item></a>
      <a href="#hobbies"><paper-icon-item paper-drawer-toggle><i class="fa fa-gamepad" item-icon></i> {{menuHobbies}}</paper-icon-item></a>
      <a href="#portfolio"><paper-icon-item paper-drawer-toggle><i class="fa fa-file-code-o" item-icon></i> {{menuPortfolio}}</paper-icon-item></a>
      <paper-icon-item>{{{menulang}}}</paper-icon-item>

</paper-header-panel>
