{{>menu}}
<paper-scroll-header-panel main fixed>
  <paper-toolbar>
    <iron-icon icon="icons:menu" paper-drawer-toggle></iron-icon>
    <div class="title"><a href="#">Domas Briedis<a></div>
    <paper-tabs align-bottom>
      <paper-tab link><a href="#"></a></paper-tab>
      <paper-tab link><a href="#work"><i class="fa fa-suitcase" ></i> {{menuWork}}</a></paper-tab>
      <paper-tab link><a href="#education"><i class="fa fa-graduation-cap"></i> {{{menuEdu}}}</a></paper-tab>
      <paper-tab link><a href="#languages"><i class="fa fa-language"></i> {{{menuLang}}}</a></paper-tab>
      <paper-tab link><a href="#skills"><i class="fa fa-pencil-square-o"></i> {{menuSkills}}</a></paper-tab>
      <paper-tab link><a href="#hobbies"><i class="fa fa-gamepad"></i> {{menuHobbies}}</a></paper-tab>
      <paper-tab link><a href="#portfolio"><i class="fa fa-file-code-o"></i> {{menuPortfolio}}</a></paper-tab>
      <paper-tab link>{{{menulang}}}</paper-tab>
    </paper-tabs>



  </paper-toolbar>

  <div class="content">

    {{>contact}}
    {{>work}}
    {{>education}}
    {{>languages}}
    {{>skills}}
    {{>hobbies}}
    {{>portfolio}}
    {{>footer}}
  </div>
</paper-scroll-header-panel>
</div>
