<section id="portfolio">

  <paper-header-panel>
    <paper-toolbar>
      <i class="fa fa-file-code-o" item-icon></i> <div class="title">{{menuPortfolio}}</div>
    </paper-toolbar>
     <div class="content">
         {{#each projects}}
          <paper-card href="{{this.link}}" heading="" image="/images/{{this.image}}" alt="{{this.name}}">
        <div class="card-content">
            <h3><a href="{{this.link}}">{{this.name}}</a></h3>
            <p>{{this.desc}}</p>
        </div>
      </paper-card>
      {{/each}}
    </div>
  </paper-header-panel>


</section>
