

<section id="work">
  <paper-header-panel mode="waterfall" condenses>
  <paper-toolbar>
    <i class="fa fa-suitcase" aria-hidden="true"></i><div class="title"> {{menuWork}}</div>
  </paper-toolbar>


    {{#each jobs}}

    <div class="cards">
      <paper-card heading="{{this.par}}">

           <div class="card-content">

               <p>{{this.pav}} ({{this.date}}) </p>
              <p>{{this.desc}}</p>
      </div>

    </paper-card>
  </div>

    {{/each}}

</paper-header-panel>


</section>
